.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
}
.navbar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.nav-logo {
    display: flex;
    gap: 5px;
    align-items: center;
}
.hero-section {
    background-image: url(./images/hero.png);
     min-height: 100px;
    /* width: 100vw; */
    /* background-size: cover; */ 
}

h1{
    font-size: 2rem;
}

@media (min-width: 768px) {
    .navbar {
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav-item {
        flex-direction: row;
    }
    .hero-section {
        /* background-image: url(./images/hero.png); */
        min-height: 600px;
        /* width: 100vw; */
        background-size: cover;
    }

    h1{
    font-size: 4rem;
    }

}